@font-face
{
    font-family: "Bitcount";
    src:    url("/media/fonts/Bitcount.woff2") format("woff2"),
            url("/media/fonts/Bitcount.woff") format("woff"),
            url("/media/fonts/Bitcount.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Quantico";
    src:    url("/media/fonts/Quantico.woff2") format("woff2"),
            url("/media/fonts/Quantico.woff") format("woff"),
            url("/media/fonts/Quantico.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root
{
    --font-header: "Bitcount", "Roboto", "Arial", sans-serif;
    --font-regular: "Quantico", sans-serif;

    --bg-logo: #000;
    --bg-color-primary: #e0b887;
    --bg-color-secondary: #e47c56;
    
    --font-color-primary: indianred;
    --font-color-secondary: bisque;
    --font-color-error: rgb(81, 1, 1);
    --font-color-correct: rgb(132, 175, 81);

    box-sizing: border-box;
    font-family: var(--font-regular);
    font-size: 18px;
    line-height: 1.5;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body
{
    height: 100vh;

    display: flex;
}

.left
{
    flex: 1 1 40%;
    background-color: var(--bg-color-primary);
    position: relative;
}

.left img
{
    width: 100%;
    height: 100%;
}

.logo
{
    width:100%;
    height:20%;
    position:absolute;
    top: 15%;
    background-color: var(--bg-logo);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1
{
    color: var(--font-color-primary);
    font-family: var(--font-header);
    font-size: 2rem;
}

.cat
{
    height: 100%;
}

.right
{
    flex: 1 1 60%;
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: column;
}

.right > *
{
    padding-left: 50px;
}

.description,
.control
{
    flex: 1 1 35%;
}
.right .sign-up
{
    flex: 1 1 30%;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.sign-up h2
{
    font-size: 1.8rem;
    color: var(--font-color-secondary);
}

.sign-up form
{
    display: flex;
    justify-content: start;
    gap: 70px;
}

form .row
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

form input
{
    width: 240px;
    font-size: 1.1rem;
    padding: 3px;
    border: 3px solid var(--font-color-primary);
    border-radius: 5px;
    background-color: var(--font-color-secondary);
    box-shadow: inset 0 0 5px rgb(70, 69, 69);
}
form input:user-invalid
{
    box-shadow: 0 0 10px var(--font-color-error);
}
form input:focus
{
    outline: 1px solid var(--font-color-primary);
    background-color: var(--bg-color-primary);
}


label:has(+ input:required)::after
{
    content: "*";
}
label:has(+ input:user-invalid)
{
    color: var(--font-color-error);
}


form label
{
    font-size: 0.7rem;
    margin-top: 10px;
    color: var(--font-color-secondary);
}