@font-face
{
    font-family: "Bitcount";
    src:    url("/media/fonts/Bitcount.woff2") format("woff2"),
            url("/media/fonts/Bitcount.woff") format("woff"),
            url("/media/fonts/Bitcount.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Quantico";
    src:    url("/media/fonts/Quantico.woff2") format("woff2"),
            url("/media/fonts/Quantico.woff") format("woff"),
            url("/media/fonts/Quantico.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root
{
    --font-header: "Bitcount", "Roboto", "Arial", sans-serif;
    --font-regular: "Quantico", sans-serif;

    box-sizing: border-box;
    font-family: var(--font-regular);
    font-size: 18px;
    line-height: 1.5;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.left
{
    flex: 1 1 40%;
    background-color:orange;
    position: relative;
}

.left img
{
    width: 100%;
    height: 100%;
}

.logo
{
    width:100%;
    height:20%;
    position:absolute;
    top: 15%;
    background-color: black;
    opacity: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1
{
    color: orange;

}

.right
{
    flex: 1 1 60%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}
.description,
.control
{
    flex: 1 1 35%;
}
.right form
{
    flex: 1 1 30%;
    background-color: rgb(228, 124, 86); 
}