@font-face
{
    font-family: "Bitcount";
    src:    url("/media/fonts/Bitcount.woff2") format("woff2"),
            url("/media/fonts/Bitcount.woff") format("woff"),
            url("/media/fonts/Bitcount.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Quantico";
    src:    url("/media/fonts/Quantico.woff2") format("woff2"),
            url("/media/fonts/Quantico.woff") format("woff"),
            url("/media/fonts/Quantico.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root
{
    --font-header: "Bitcount", "Roboto", "Arial", sans-serif;
    --font-regular: "Quantico", sans-serif;

    --bg-color-logo: #000;
    --bg-color-primary: #e0b887;
    --bg-color-secondary: #e47c56;
    --bg-color-secondary-dim: indianred;
    --bg-color-secondary-bright: #e49156;
    --bg-color-error: #e08787;

    --bg-color-button: olive;
    --bg-color-button-hover: rgb(161, 161, 1);
    --bg-color-button-active: rgb(88, 88, 1);

    --shadow-color: #323131;
    
    --font-color-primary: indianred;
    --font-color-primary-dim: rgb(144, 64, 64);
    --font-color-secondary: bisque;
    --font-color-secondary-dim: rgb(232, 208, 178);
    --font-color-secondary-bright: rgb(255, 255, 255);
    --font-color-error: rgb(81, 1, 1);
    --font-color-correct: rgb(132, 175, 81);

    box-sizing: border-box;
    font-family: var(--font-regular);
    font-size: 18px;
    line-height: 1.5;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    display: flex;
    background-color: var(--bg-color-primary);
}

.left-side
{
    flex: 1 1 35%;
    background-color: var(--bg-color-primary);
    position: relative;
}

.left-side img
{
    display: block;
    width: 100%;
    height: 100%;
}

.logo
{
    position: absolute;  
    top: 2%;
    background-color: var(--bg-color-logo);
    opacity: 60%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-side .logo
{
    justify-content: center;

    padding-left:25px;
    width:100%;
    height:25%; 
}

.logo h1
{
    color: var(--font-color-primary);
    font-family: var(--font-header);   
}

.left-side .logo h1
{
    font-size: 3rem;
}

.cat
{
    height: 100%;
}

.right-side
{
    position: relative;
    flex: 1 1 60%;
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: column;
}

.right-side > *
{
    padding-left: 50px;
}

.right-side .logo
{
    display: none;
    width: 100%;
    height: 7%;
    position: absolute;
    top: 1%;
}

.right-side .logo h1
{
    padding-top: 10px;
    font-size: 2rem;
}

.description,
.control
{
    flex: 1 1 35%;
}

.description
{
    padding-top: 80px;
    padding-right: 50px;
    font-size: 1.1rem;
    color: var(--font-color-primary-dim);
}

.description .conclusion
{
    font-style: italic;
}

.description .call-to-action
{
    margin-top: 20px;
    font-weight: bold;
}

.right-side .sign-up
{
    flex: 1 1 30%;
    padding-top: 15px;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
}

.sign-up h2
{
    font-size: 1.5rem;
    color: var(--font-color-secondary);
    padding: 0;
}

.sign-up form
{
    display: flex;
    justify-content: start;
    gap: 70px;
}

form .row
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

form input
{
    width: 240px;
    font-size: 1.1rem;
    padding: 3px;
    border: 3px solid var(--font-color-primary);
    border-radius: 5px;
    background-color: var(--font-color-secondary);
    color: var(--font-color-primary);
    box-shadow: inset 0 0 5px var(--shadow-color);
}
form input:user-invalid
{
    box-shadow: 0 0 10px var(--font-color-error);
    background-color: var(--bg-color-error);
    color: var(--font-color-error);
}
form input:focus
{
    outline: 1px solid var(--font-color-primary);
    background-color: var(--bg-color-primary);
    color: var(--font-color-primary-dim);
}

label:has(+ input:required)::after
{
    content: "*";
}
label:has(+ input:user-invalid)
{
    color: var(--font-color-error);
}

form label
{
    font-size: 0.7rem;
    margin-top: 10px;
    color: var(--font-color-secondary);
}

.control
{
    padding-top: 30px;
    display: flex;
    align-items:start;  
    flex-direction: column;
    gap: 25px;
}

.control button
{
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--bg-color-button);
    color: var(--font-color-secondary);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px var(--shadow-color);
}

.control button:hover
{
    background-color: var(--bg-color-button-hover);
    box-shadow: 0 0 9px var(--shadow-color);
    color: var(--font-color-secondary-bright);
}
.control button:active
{
    background-color: var(--bg-color-button-active);
    color: var(--font-color-secondary-dim);
    box-shadow: 0 0 3px var(--shadow-color);
}

.control p
{
    font-size: 0.9rem;
    color: var(--font-color-primary-dim)
}

.control a
{
    text-decoration: none;
    color: var(--bg-color-button);
}
.control a:hover
{
    color: var(--bg-color-button-hover);
}
.control a:active
{
    color: var(--bg-color-button-active);
}

@media(max-width: 1780px)
{
    .left-side .logo h1
    {
        display: none;
    }
}
@media(max-width: 1200px)
{
    .left-side
    {
        display: none;
    }
    .right-side .logo
    {
        display: flex;
    }
}